div{
    width: 100px;
    height: 90px;
    background-color:green;
    border-radius: 50%;
    margin: 100px;
    animation-name: smth;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

}
@keyframes smth{
    0%{
        width: 100px;
        height: 100px;
    }
    50%{
        transform: scale(2);
    }
    100%{
        width: 100px;
        height: 100px;
    }
}